# ======================
# Dependencies
# ======================
node_modules/

# ======================
# Expo / React Native
# ======================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# iOS / Android build artifacts
ios/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/Pods/

android/app/build/
android/.gradle/
android/.idea/
android/.cxx/
android/local.properties
*.apk
*.aab
*.iml

# ======================
# Native Keys & Certs
# ======================
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision

# ======================
# Metro
# ======================
.metro-health-check*

# ======================
# Debug / Logs
# ======================
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# ======================
# macOS / Windows
# ======================
.DS_Store
Thumbs.db
*.pem

# ======================
# Environment Files
# ======================
.env
.env*.local
.env.*              # e.g. .env.production, .env.development
!.env.example       # keep a template in git

# ======================
# TypeScript
# ======================
*.tsbuildinfo

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.swp
*.swo
